* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: none; */
    text-decoration: none;
    list-style: none;
}

:root {
    font-size: 62.5%;

    /* Primary text */
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /* Neutral text */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    /* Background gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* Dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
}

body {
    font-size: 1.2rem;
    font-family: 'Kumbh Sans', sans-serif;  
    background: linear-gradient(var(--soft-violet), var(--soft-blue));

    /* width: 100vw; */
    height: 100vh;
    border: 1px solid red; /* Only to see the main page. */
}